<!doctype html>
<html lang="pt-BR" class="js">
<head>
<!-- META TAGS -->
<meta charset='utf-8'>
<meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>
<meta http-equiv='X-UA-Compatible' content='IE=edge'>
<meta name='author' content='' />
<meta name='creator' content='' />
<meta name='copyright' content='' />
<meta name='url' content='' />
<meta name='language' content='pt-BR' />
<meta name='robots' content='noindex,nofollow' />
<link rel='alternate' href='' hreflang='pt-BR' />
<link rel='canonical' href='' />
<!-- META TAGS -->

<title>{% block title %}{% endblock %}</title>


<!-- CACHE -->
<meta http-equiv="cache-control" content="max-age=0" />
<meta http-equiv="cache-control" content="no-cache" />
<meta http-equiv="expires" content="0" />
<meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
<meta http-equiv="pragma" content="no-cache" />
<!-- CACHE -->

<!-- FAVICON -->
<link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon/favicon.png">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="theme-color" content="#ffffff">
<!-- FAVICON -->

<!-- CSS -->
<link rel="stylesheet" href="/assets/css/dashlite.css?ver=3.0.2">
<link rel="stylesheet" href="/assets/css/libs/fontawesome-icons-6.css?ver=3.0.2">
<link rel="stylesheet" href="/assets/css/qv-custom.css?ver=3.0.2">
<link rel="stylesheet" href="/assets/css/qv-plugins.css?ver=3.0.2">
<link rel="stylesheet" href="/assets/css/theme.css?ver=3.0.2">
<!-- CSS -->
</head>

<body class="nk-body bg-lighter npc-general has-sidebar">

    <div class="nk-app-root">
        <div class="nk-main "> 
            {{ include('sidebar.twig') }}
            <div class="nk-wrap">
                {{ include('topo.twig') }}
                <div class="nk-content ">
                {% block content %}{% endblock %}
                </div> <!-- content @s -->     
            </div> <!-- wrap @s -->
        </div> <!-- main @e -->
    </div> <!-- app-root @e -->   
</body>
</html>