<div class="container-fluid">
    <div class="nk-content-inner">
        <div class="nk-content-body">
            <div class="nk-block-head nk-block-head-sm">
                <div class="nk-block-between">
                    <div class="nk-block-head-content">
                        <h3 class="nk-block-title page-title">Financeiro / <strong class="text-primary small">Dashboard</strong></h3>
                        <div class="nk-block-des text-soft">
                            <p>Dashboard Financeiro Geral</p>
                        </div>
                    </div><!-- .nk-block-head-content -->
                    <div class="nk-block-head-content">
                        <div class="toggle-wrap nk-block-tools-toggle">
                            <a href="#" class="btn btn-icon btn-trigger toggle-expand me-n1" data-target="pageMenu"><em class="icon ni ni-more-v"></em></a>
                            <div class="toggle-expand-content" data-content="pageMenu">
                                <ul class="nk-block-tools g-3">
                                    <li>
                                        <div class="dropdown">
                                            <a href="#" class="dropdown-toggle btn btn-white btn-dim btn-outline-light" data-bs-toggle="dropdown"><em class="d-none d-sm-inline icon ni ni-calender-date"></em><span><span class="d-none d-md-inline">Últimos</span> 30 Dias</span><em class="dd-indc icon ni ni-chevron-right"></em></a>
                                            <div class="dropdown-menu dropdown-menu-end">
                                                <ul class="link-list-opt no-bdr">
                                                    <li><a href="javascript:void(0);"><span>Últimos 30 Dias</span></a></li>
                                                    <li><a href="javascript:void(0);"><span>Últimos 6 Meses</span></a></li>
                                                    <li><a href="javascript:void(0);"><span>Último 1 Ano</span></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="nk-block-tools-opt"><a href="#" class="btn btn-primary"><em class="icon ni ni-reports"></em><span>Relatórios</span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div><!-- .nk-block-head-content -->                   
                </div><!-- .nk-block-between -->
            </div><!-- .nk-block-head -->
            <div class="nk-block">
                <div class="row g-gs">
                    <div class="col-xxl-6">
                        <div class="row g-gs">
                            <div class="col-lg-6 col-xxl-12">
                                <div class="card card-bordered">
                                    <div class="card-inner">
                                        <div class="card-title-group align-start mb-2">
                                            <div class="card-title">
                                                <h6 class="title">Minhas Vendas</h6>
                                                <p>Lançadas no(s) [PERIODO_SELECIONADO]</p>
                                            </div>
                                            <div class="card-tools">
                                                <em class="card-hint icon ni ni-help-fill" data-bs-tooltip="tooltip" data-bs-placement="left" title="Vendas Lançadas no Vitrine QV"></em>
                                            </div>
                                        </div>
                                        <div class="align-end gy-3 gx-5 flex-wrap flex-md-nowrap flex-lg-wrap flex-xxl-nowrap">
                                            <div class="nk-sale-data-group flex-md-nowrap g-5">
                                                <div class="nk-sale-data">
                                                    <span class="amount">R$ 14.299,59</span>
                                                    <span class="sub-title text-danger">Vencido</span>
                                                </div>
                                                <div class="nk-sale-data">
                                                    <span class="amount">R$ 7.299,59</span>
                                                    <span class="sub-title text-success">Quitado</span>
                                                </div>
                                            </div>
                                            <div class="nk-sales-ck sales-revenue">
                                                <canvas class="sales-bar-chart" id="salesRevenue"></canvas>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- .col -->
                            <div class="col-lg-6 col-xxl-12">
                                <div class="row g-gs">
                                    <div class="col-sm-6 col-lg-12 col-xxl-6">
                                        <div class="card card-bordered">
                                            <div class="card-inner">
                                                <div class="card-title-group align-start mb-2">
                                                    <div class="card-title">
                                                        <h6 class="title">Contas a Pagar</h6>
                                                    </div>
                                                    <div class="card-tools">
                                                        <em class="card-hint icon ni ni-help-fill" data-bs-tooltip="tooltip" data-bs-placement="left" title="Porcentagem Comparada ao Período Anterior Selecionado."></em>
                                                    </div>
                                                </div>
                                                <div class="align-end flex-sm-wrap g-4 flex-md-nowrap">
                                                    <div class="nk-sale-data">
                                                        <span class="amount">R$ 9.690,00</span>
                                                        <span class="sub-title"><span class="change down text-danger"><em class="icon ni ni-arrow-long-down"></em>1.93%</span>comparado ao período anterior</span>
                                                    </div>
                                                    <div class="nk-sales-ck">
                                                        <canvas class="sales-bar-chart" id="activeSubscription"></canvas>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><!-- .card -->
                                    </div><!-- .col -->
                                    <div class="col-sm-6 col-lg-12 col-xxl-6">
                                        <div class="card card-bordered">
                                            <div class="card-inner">
                                                <div class="card-title-group align-start mb-2">
                                                    <div class="card-title">
                                                        <h6 class="title">Contas a Receber</h6>
                                                    </div>
                                                    <div class="card-tools">
                                                        <em class="card-hint icon ni ni-help-fill" data-bs-tooltip="tooltip" data-bs-placement="left" title="Porcentagem Comparada ao Período Anterior Selecionado."></em>
                                                    </div>
                                                </div>
                                                <div class="align-end flex-sm-wrap g-4 flex-md-nowrap">
                                                    <div class="nk-sale-data">
                                                        <span class="amount">R$ 34.620,00</span>
                                                        <span class="sub-title"><span class="change up text-success"><em class="icon ni ni-arrow-long-up"></em>2.45%</span>comparado ao período anterior</span>
                                                    </div>
                                                    <div class="nk-sales-ck">
                                                        <canvas class="sales-bar-chart" id="totalSubscription"></canvas>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><!-- .card -->
                                    </div><!-- .col -->
                                </div><!-- .row -->
                            </div><!-- .col -->
                        </div><!-- .row -->
                    </div><!-- .col -->
                    <div class="col-xxl-6">
                        <div class="card card-bordered h-100">
                            <div class="card-inner">
                                <div class="card-title-group align-start gx-3 mb-3">
                                    <div class="card-title">
                                        <h6 class="title">Visão Geral das Vendas</h6>
                                        <p>No [PERIODO_SELECIONADO]. <a href="/franquia/financeiro/list">Veja Detalhes</a></p>
                                    </div>
                                    <div class="card-tools">
                                        <div class="dropdown">
                                            <a href="#" class="btn btn-primary btn-dim d-none d-sm-inline-flex" data-bs-toggle="dropdown"><em class="icon ni ni-download-cloud"></em><span><span class="d-none d-md-inline">Download</span> Relatório</span></a>
                                            <a href="#" class="btn btn-icon btn-primary btn-dim d-sm-none" data-bs-toggle="dropdown"><em class="icon ni ni-download-cloud"></em></a>
                                            <div class="dropdown-menu dropdown-menu-end">
                                                <ul class="link-list-opt no-bdr">
                                                    <li><a href="javascript:void(0);"><span>Versão Resumida</span></a></li>
                                                    <li><a href="javascript:void(0);"><span>Versão Detalhada</span></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="nk-sale-data-group align-center justify-between gy-3 gx-5">
                                    <div class="nk-sale-data">
                                        <span class="amount">R$ 82.944,60</span>
                                    </div>
                                    <div class="nk-sale-data">
                                        <span class="amount sm">140 <small>Vendas</small></span>
                                    </div>
                                </div>
                                <div class="nk-sales-ck large pt-4">
                                    <canvas class="sales-overview-chart" id="salesOverview"></canvas>
                                </div>
                            </div>
                        </div><!-- .card -->
                    </div><!-- .col -->
                    <div class="col-xxl-8">
                        <div class="card card-bordered card-full">
                            <div class="card-inner">
                                <div class="card-title-group">
                                    <div class="card-title">
                                        <h6 class="title"><span class="me-2">Últimas Movimentações</span> <a href="#" class="link d-none d-sm-inline">Ver Histórico</a></h6>
                                    </div>
                                    <div class="card-tools">
                                        <ul class="card-tools-nav">
                                            <li><a href="javascript:void(0);"><span>Pago</span></a></li>
                                            <li><a href="javascript:void(0);"><span>Em Aberto</span></a></li>
                                            <li><a href="javascript:void(0);"><span>Vencido</span></a></li>
                                            <li class="active"><a href="javascript:void(0);"><span>Tudo</span></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="card-inner p-0 border-top">
                                <div class="nk-tb-list nk-tb-orders">
                                    <div class="nk-tb-item nk-tb-head">
                                        <div class="nk-tb-col"><span>ID Movim.</span></div>
                                        <div class="nk-tb-col tb-col-sm"><span>Descrição</span></div>
                                        <div class="nk-tb-col tb-col-md"><span>Vencimento</span></div>
                                        <div class="nk-tb-col tb-col-lg"><span>NF</span></div>
                                        <div class="nk-tb-col"><span>Valor</span></div>
                                        <div class="nk-tb-col"><span class="d-none d-sm-inline">Status</span></div>
                                        <div class="nk-tb-col"><span>&nbsp;</span></div>
                                    </div>
                                    <div class="nk-tb-item">
                                        <div class="nk-tb-col">
                                            <span class="tb-lead"><a href="#">#95954</a></span>
                                        </div>
                                        <div class="nk-tb-col tb-col-sm">
                                            <span class="tb-lead">FGTS</span>
                                            <span class="text-muted">Impostos</span>
                                        </div>
                                        <div class="nk-tb-col tb-col-md">
                                            <span class="tb-sub">02/11/2020</span>
                                        </div>
                                        <div class="nk-tb-col tb-col-lg">
                                            <span class="tb-sub text-primary"></span>
                                        </div>
                                        <div class="nk-tb-col">
                                            <span class="tb-sub tb-amount">R$ 4.596,75</span>
                                        </div>
                                        <div class="nk-tb-col">
                                            <span class="badge badge-dot badge-dot-xs bg-danger">Vencido</span>
                                        </div>
                                        <div class="nk-tb-col nk-tb-col-action">
                                            <div class="dropdown">
                                                <a class="text-soft dropdown-toggle btn btn-icon btn-trigger" data-bs-toggle="dropdown"><em class="icon ni ni-more-h"></em></a>
                                                <div class="dropdown-menu dropdown-menu-end dropdown-menu-xs">
                                                    <ul class="link-list-plain">
                                                        <li><a href="javascript:void(0);">Visualizar</a></li>
                                                        <li><a href="javascript:void(0);">Imprimir</a></li>
                                                        <li><a href="javascript:void(0);">Cancelar</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="nk-tb-item">
                                        <div class="nk-tb-col">
                                            <span class="tb-lead"><a href="#">#95953</a></span>
                                        </div>
                                        <div class="nk-tb-col tb-col-sm">
                                            <span class="tb-lead">Venda de Produtos</span>
                                            <span class="text-muted">Vendas</span>
                                        </div>
                                        <div class="nk-tb-col tb-col-md">
                                            <span class="tb-sub">01/12/2020</span>
                                        </div>
                                        <div class="nk-tb-col tb-col-lg">
                                            <span class="tb-sub text-primary">SUB-2309232</span>
                                        </div>
                                        <div class="nk-tb-col">
                                            <span class="tb-sub tb-amount">R$ 3.284,20</span>
                                        </div>
                                        <div class="nk-tb-col">
                                            <span class="badge badge-dot badge-dot-xs bg-success">Pago</span>
                                        </div>
                                        <div class="nk-tb-col nk-tb-col-action">
                                            <div class="dropdown">
                                                <a class="text-soft dropdown-toggle btn btn-icon btn-trigger" data-bs-toggle="dropdown"><em class="icon ni ni-more-h"></em></a>
                                                <div class="dropdown-menu dropdown-menu-end dropdown-menu-xs">
                                                    <ul class="link-list-plain">
                                                        <li><a href="javascript:void(0);">Visualizar</a></li>
                                                        <li><a href="javascript:void(0);">Imprimir</a></li>
                                                        <li><a href="javascript:void(0);">Cancelar</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="nk-tb-item">
                                        <div class="nk-tb-col">
                                            <span class="tb-lead"><a href="#">#95955</a></span>
                                        </div>
                                        <div class="nk-tb-col tb-col-sm">
                                            <span class="tb-lead">Contas Residenciais</span>
                                            <span class="text-muted">Gastos Essenciais</span>
                                        </div>
                                        <div class="nk-tb-col tb-col-md">
                                            <span class="tb-sub">05/10/2020</span>
                                        </div>
                                        <div class="nk-tb-col tb-col-lg">
                                            <span class="tb-sub text-primary">SUB-2309122</span>
                                        </div>
                                        <div class="nk-tb-col">
                                            <span class="tb-sub tb-amount">R$ 1.226,50</span>
                                        </div>
                                        <div class="nk-tb-col">
                                            <span class="badge badge-dot badge-dot-xs bg-warning">Em Aberto</span>
                                        </div>
                                        <div class="nk-tb-col nk-tb-col-action">
                                            <div class="dropdown">
                                                <a class="text-soft dropdown-toggle btn btn-icon btn-trigger" data-bs-toggle="dropdown"><em class="icon ni ni-more-h"></em></a>
                                                <div class="dropdown-menu dropdown-menu-end dropdown-menu-xs">
                                                    <ul class="link-list-plain">
                                                        <li><a href="javascript:void(0);">Visualizar</a></li>
                                                        <li><a href="javascript:void(0);">Imprimir</a></li>
                                                        <li><a href="javascript:void(0);">Cancelar</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>                                    
                                </div>
                            </div>
                            <div class="card-inner-sm border-top text-center d-sm-none">
                                <a href="#" class="btn btn-link btn-block">See History</a>
                            </div>
                        </div><!-- .card -->
                    </div><!-- .col -->
                </div><!-- .row -->
            </div><!-- .nk-block -->
        </div>
    </div>
</div>

<!-- LOAD EXTRA FILES -->
{{ include('scripts.twig') }}
<script src="/assets/js/views/{{ url.parametros.var1 }}/{{ url.parametros.var2 }}/{{ url.parametros.var2 }}.js"></script>
<script src="/assets/js/charts/gd-default.js?ver=3.0.2"></script>
<script>
$(function(){
	qv_create.init("#formCreate");
});
</script>