<div class="card-inner card-inner-lg">
    <div class="nk-block-head nk-block-head-lg">
        <div class="nk-block-between">
            <div class="nk-block-head-content">
                <h4 class="nk-block-title">Histórico de Login</h4>
                <div class="nk-block-des">
                    <p>Aqui está seu registro das últimas 20 atividades de login. <span class="text-soft"><em class="icon ni ni-info"></em></span></p>
                </div>
            </div>
            <div class="nk-block-head-content align-self-start d-lg-none">
                <a href="#" class="toggle btn btn-icon btn-trigger mt-n1" data-target="userAside"><em class="icon ni ni-menu-alt-r"></em></a>
            </div>
        </div>
    </div><!-- .nk-block-head -->
    <div class="nk-block card card-bordered">
        <table class="table table-ulogs">
            <thead class="table-light">
                <tr class="row-vertical-align">
                    <th class="tb-col-os"><span class="overline-title">Navegador <span class="d-sm-none">/ IP</span></span></th>
                    <th class="tb-col-ip text-center"><span class="overline-title">Endereço IP</span></th>
                    <th class="tb-col-time text-center"><span class="overline-title">Horário</span></th>
                </tr>
            </thead>
            <tbody>
                {% for historico in controller.conteudo.itens %}
                <tr class="row-vertical-align">
                    <td class="tb-col-os small">{{ historico.user_agent }}</td>
                    <td class="tb-col-ip text-center"><span class="sub-text">{{ historico.ip }}</span></td>
                    <td class="tb-col-time text-center"><span class="sub-text">{{ historico.horario }}</span></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div><!-- .nk-block-head -->
</div><!-- .card-inner -->

<!-- LOAD EXTRA FILES -->
{{ include('scripts.twig') }}