<div class="container px-4 py-5" id="custom-cards">
    <h1 class="pb-2 mb-4 text-center border-bottom">Encontre a Acompanhante ou Garota de Programa Perfeita</h1>

    <form method="post" name="formFiltrar" id="formFiltrar">
        <div class="row g-2 mb-3">
            <div class="col-md">
                <div class="form-floating">
                    <input type="text" name="nome" id="nome" class="form-control" placeholder="Nome da modelo...">
                    <label for="nome">Nome da Modelo</label>
                </div>
            </div>
            <div class="col-md">
                <div class="form-floating">
                    <select name="cidade" id="cidade" class="form-select">
                        <option value="Branco">Todas</option>
                        <option value="Branco">Branco</option>
                        <option value="Caboclo">Caboclo</option>
                    </select>
                    <label for="cidade">Cidade</label>
                </div>
            </div>
            <div class="col-md">
                <div class="form-floating">
                    <select name="cabelo" id="cabelo" class="form-select">
                        <option value="Branco">Todos</option>
                        <option value="Branco">Branco</option>
                        <option value="Caboclo">Caboclo</option>
                    </select>
                    <label for="cabelo">Cabelo</label>
                </div>
            </div>            
            <div class="col-md">
                <div class="form-floating">
                    <select name="etnia" id="etnia" class="form-select">
                        <option value="Branco">Todas</option>
                        <option value="Branco">Branco</option>
                        <option value="Caboclo">Caboclo</option>
                    </select>
                    <label for="etnia">Etnia</label>
                </div>
            </div>            
        </div>
        <div class="row g-2">
            <div class="col-md mb-3">
                <label class="form-label">
                    Idade
                    <span class="small text-muted">
                        (<span id="idade_min">18</span> - <span id="idade_max">65</span> anos)
                    </span>
                </label>
                <div id="idade" class="px-3"></div>
            </div>
            <div class="col-md mb-3">
                <label class="form-label">
                    Cachê
                    <span class="small text-muted">
                        (R$ <span id="cache_min">50</span> - R$ <span id="cache_max">1000</span>)
                    </span>
                </label>
                <div id="cache" class="px-3"></div>
            </div>
        </div> 
        <input type="hidden" name="idade_de" id="idade_de" />
        <input type="hidden" name="idade_ate" id="idade_ate" />
        <input type="hidden" name="cache_de" id="cache_de" />
        <input type="hidden" name="cache_ate" id="cache_ate" />      
    </form>

    <hr />

</div> <!-- CONTAINER -->

<!-- LOAD EXTRA FILES -->
{{ include('scripts.twig') }}
<script src="/assets/js/views/modelos/modelos.js?ts={{ random(100000, 999999) }}"></script>
<script>
$(function(){
    list.init();
});
</script>