<div class="container-fluid">
    <div class="nk-content-inner">
        <div class="nk-content-body">

            <div class="nk-block-head nk-block-head-sm">
                <div class="nk-block-between">
                    <div class="nk-block-head-content">
                        <h3 class="nk-block-title page-title">Vendas / <strong class="text-primary small">Vendedores</strong></h3>
                        <div class="nk-block-des text-soft">
                            <p>Tela para consulta de vendedores da sua operação.</p>
                        </div>
                    </div><!-- .nk-block-head-content -->
                    <div class="nk-block-head-content">
                        <div class="toggle-wrap nk-block-tools-toggle">
                            <a href="#" class="btn btn-icon btn-trigger toggle-expand mr-n1" data-target="pageMenu"><em class="icon ni ni-menu-alt-r"></em></a>
                            <div class="toggle-expand-content" data-content="pageMenu">
                                <ul class="nk-block-tools g-2">
                                    <li class="w-xs-100">
                                        <a href="#modalCadastrarNovoVendedor" class="btn btn-white btn-outline-light w-xs-100 d-inline" data-acao="cadastrar" data-bs-toggle="modal">
                                            <em class="icon ni ni-plus-circle"></em>
                                            <span>Novo Vendedor</span>
                                        </a>
                                    </li>                                    
                                </ul>
                            </div>
                        </div><!-- .toggle-wrap -->
                    </div><!-- .nk-block-head-content -->
                </div><!-- .nk-block-between -->
            </div><!-- .nk-block-head -->
            <div class="nk-block">
                <div class="card card-bordered card-stretch">
                    <div class="card-inner-group">
                        <div class="card-inner position-relative card-tools-toggle">
                            <div class="card-title-group">
                                <div class="card-tools w-100">
                                    <div class="search-content">
                                        <input type="search" class="form-control border-transparent form-focus-none ps-0" name="DT_buscador" id="DT_buscador" placeholder="Digite o que deseja buscar...">
                                        <button class="search-submit btn btn-icon"><em class="icon ni ni-search"></em></button>
                                    </div>
                                </div><!-- .card-tools -->
                            </div><!-- .card-title-group -->
                        </div><!-- .card-inner -->
                        <div class="card-inner px-0 pt-0">
                            <div class="table-responsive" style="padding-left:0px; padding-right:0px; overflow: visible !important;">
                                <table class="table-hover nowrap nk-tb-list w-100" data-auto-responsive="false" id="responsive-datatable">
                                    <thead class="">
                                        <tr class="nk-tb-item nk-tb-head">
                                            <th class="nk-tb-col">ID</th>
                                            <th class="nk-tb-col">CODIGO</th>
                                            <th class="nk-tb-col">DATA CADASTRO</th>
                                            <th class="nk-tb-col">NOME</th>
                                            <th class="nk-tb-col">STATUS</th>
                                            <th class="nk-tb-col nk-tb-col-tools text-right">OPÇÕES</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        
                                    </tbody>
                                </table>
                            </div> <!-- RESPONSIVE TABLE -->
                        </div><!-- .card-inner -->
                        
                    </div><!-- .card-inner-group -->
                </div><!-- .card -->
            </div><!-- .nk-block -->

        </div> <!-- nk-content-body -->
    </div>
</div>

<!-- MODAL CADASTRAR VENDEDOR -->
<div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog" id="modalCadastrarNovoVendedor">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <a href="#" class="close" data-bs-dismiss="modal"><em class="icon ni ni-cross-sm"></em></a>
            <div class="modal-header">
                <h5 class="modal-title">Cadastrar Vendedor</h5>
            </div>            
            <div class="modal-body">
                <form method="post" name="formCadastrarVendedor" id="formCadastrarVendedor" onkeydown="return event.key != 'Enter';">
                    <div class="row g-4">
                        <div class="col-12">
                            <div class="form-group">
                                <label class="form-label" for="nome">Nome Completo</label>
                                <div class="form-control-wrap">
                                    <input type="text" class="form-control" id="nome" name="nome" placeholder="Digite o nome completo..." required>
                                </div>
                            </div>
                        </div> 
                        <div class="col-12">
                            <div class="form-group">
                                <label class="form-label" for="nomeExibicao">Nome de Exibição</label>
                                <div class="form-control-wrap">
                                    <input type="text" class="form-control" id="nomeExibicao" name="nomeExibicao" maxlength="16" placeholder="Nome curto de exibição..." required>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label class="form-label" for="status">Status</label>
                                <div class="form-control-wrap">
                                    <select class="form-control qvSelect2_noSearch" id="status" name="status" required>
                                        <option value="Ativo">Ativo</option>
                                        <option value="Inativo">Inativo</option>
                                    </select>
                                </div>
                            </div>
                        </div>                                                                       
                    </div> <!-- ROW -->
                    <hr class="preview-hr mt-4 mb-2">
                    <div class="row gy-4 mb-4">
                        <div class="col-12">
                            <div class="form-group text-end">
                                <input type="hidden" name="formAcao" id="formAcao" value="cadastrarVendedor" />
                                <input type="hidden" name="idVendedor" id="idVendedor" value="" />
                                <input type="hidden" name="qv_url_path" id="qv_url_path" value="{{ url.uri }}" />
                                <button type="submit" class="btn btn-primary w-xs-100 d-inline">Salvar</button>
                            </div>
                        </div>                                        
                    </div> <!-- ROW -->                                
                </form>                
            </div><!-- .modal-body -->
        </div><!-- .modal-content -->
    </div><!-- .modal-dialog -->
</div><!-- .modal -->

<!-- LOAD EXTRA FILES -->
{{ include('scripts.twig') }}
<script src="/assets/js/views/franquia/vendas/vendedores.js?ts={{ random(100000, 999999) }}"></script>
<script>
$(function(){

    // ACIONADOR DO METODO
    qv_list.init();

});
</script>